* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: #ffffff;
  color: #515076;
}

.catalog {
  padding-left: 85px;
  margin-bottom: 116px;
}

.conteiner {
  width: 1110px;
  background-color: #ffffff;
  padding-top: 0;
  background-image: url('images/flying_dandelions.png');
  background-size: 790px 697px;
  background-repeat: no-repeat;
  z-index: -1;
}

.title {
  text-align: center;
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  padding-top: 220px;
  margin-bottom: 110px;
 } 

.products-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  column-gap: 45px;
  row-gap: 45px;
  list-style-position: inside;
}

.product-card {
  padding-left: 25px;
  width: 340px;
  height: 573px;
  background-color: #F7F7FA;
}

.product-images {
  padding-top: 25px;
  padding-bottom: 30px;
}

.product-card__category {
  padding-top: 5px;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.product-card__name {
  padding-top: 5px;
  font-size: 20px;
  font-weight: 220px;
  line-height: 27px;
}

.product-card__description {
  width: 287px;
  padding-top: 5px;
  text-align: left;
}

.product-card__compound {
  line-height: 22px;
  padding-top: 15px;
  } 


.product-card__price {
  padding-top: 25px;
  width: 290px;
  height: 24px;
  display: flex;
  justify-content: space-between;
}

.product-card__price-text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.product-card__price-value {
  font-size: 20px;
  line-height: 24px;
}

.changeColorButtom.active {
  background-color: red;
}

