* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: #ffffff;
  color: #515076;
}
  
.background {
  width: 100%;
}

.background-wrapper {
  width: 790px;
  height: 697px;
  position: absolute;
  z-index: -1;
  left: 85px;
  top: 0px;
}

.title {
  text-align: center;
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  margin-top: 220px;
  margin-bottom: 110px;
 } 

.products-list {
  max-width: 1110px;
  max-height: 1191px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  column-gap: 45px;
  row-gap: 45px;
  margin-left: 85px;
}


.product-item {
  padding-left: 25px;
  width: 340px;
  height: 573px;
  background-color: #F7F7FA;
}

.product-images {
  padding-top: 25px;
  padding-bottom: 30px;
}

.description {
  padding-top: 5px;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.product-name {
  padding-top: 5px;
  font-size: 20px;
  font-weight: 220px;
  line-height: 27px;
}

.product-descriptiont {
  padding-top: 5px;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
}

.compound {
  line-height: 22px;
  padding-left: 15px;
  padding-top: 15px;
  } 

.conteiner-price {
  padding-top: 25px;
  width: 290px;
  height: 24px;
  display: flex;
  justify-content: space-between;
}

.price {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.price-value {
  font-size: 20px;
  line-height: 24px;
}
